<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Project Certification Page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
      </div>
    </nav>
    <div class="collection">
      <%
        require 'httparty'
        response = HTTParty.get("http://gold_seal_api:8080/projects")
        (JSON.parse response.body).each do | project |
      %>

        <a href="/<%= project %>" class="collection-item"><%= project %></a>

      <% end %>
    </div>
  </body>
</html>